<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <add key="ReadPortName" value="COM3" />
        <add key="ReadBaudRate" value="9600" />
        <add key="ReadParity" value="None" />     <!-- None, Odd, Even, Mark, Space -->
        <add key="ReadDataBits" value="8" />
        <add key="ReadStopBits" value="One" />    <!-- One, Two, OnePointFive -->
        <add key="ReadHandShake" value="None" />  <!-- None, XOnXOff, RequestToSend, RequestToSendXOnXOff -->
        <add key="ReadTimeout" value="500" />     <!-- msec -->

        <add key="WritePortName" value="COM4" />
        <add key="WriteBaudRate" value="9600" />
        <add key="WriteParity" value="None" />    <!-- None, Odd, Even, Mark, Space -->
        <add key="WriteDataBits" value="8" />
        <add key="WriteStopBits" value="One" />   <!-- One, Two, OnePointFive -->
        <add key="WriteHandShake" value="None" /> <!-- None, XOnXOff, RequestToSend, RequestToSendXOnXOff -->
        <add key="WriteTimeout" value="500" />    <!-- msec -->
    </appSettings>
</configuration>
